@media only screen and (max-width: 900px) {
  #Home {
    grid-template-columns: 1fr;
    background-color: #e6e8e9;
  }
}

.curved {
  position: relative;
  background: #f1ebe8;
  height: 36vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
h1 {
  color: #d1beb5;
  font-size: 25px;
}
h3 {
  color: #665d58;
}
h4 {
  color: #665d58;
}
#main {
  font-family: Consolas, sans-serif;
  /* background: linear-gradient(50deg, #8e9775 10%, #e28e83 70%); */
  height: 100vh;
  text-align: center;
}

.text {
  padding: 40px;
}
.btn {
  margin: 20px;
  background: #f1ebe8;
  background-image: linear-gradient(to bottom, #f1ebe8, #ceb09e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 50px;
  font-family: Courier New;
  color: #f1ebe8;
  font-size: 12px;
  padding: 8px 8px 6px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #c28d6e;
  background-image: linear-gradient(to bottom, #c28d6e, #c9c5c4);
  text-decoration: none;
}
